body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 30px calc((100% - 900px) / 2); 
}

.logo {
    height: 30px;
    width: 200px;
    object-fit: contain;
    object-position: center left;
}

.main-nav {  
    display: flex;
    gap: 30px;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.link:hover {
    color: grey;
    text-decoration: underline;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

.main-title {
    font-size: 32px;
}
.main-title > span {
    display: block;
    font-weight: normal;
}
.main-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    margin-top: 10px;
    background-color: #55337a;
}

desription {
    color: #555;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px; /* 18px = 1em*/
    gap: 1em;
}
.button {
    display: inline-block;
    padding: 1em 2.5em;
    background-color: #55337a;
    color: #ffffff;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 1.6em;
    border: 0.1em solid #55337a;
    user-select: none;
}
.button:hover {
    background-color: #ffffff;
    color: #55337a;
}

.right-column {
    width: 55%;
}

.socials {
    display: flex;
    gap: 0.5em;
    font-size: 20px;
}
.socials > .social-link{
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #999;
    text-decoration: 0;
}
.socials > .social-link:hover {
    color: #55337a;
    margin: -0.25em;
    font-size: 2em;
}
